#nav-bar {
  height: 34px !important;
  padding: 0px 4px 2px 4px !important;
  margin-top: -1px !important;
}

#TabsToolbar {
  padding-top: 3px !important;
}

:root[sizemode="fullscreen"] #TabsToolbar {
  padding: 2px 4px 0px 4px !important;
}

#tabbrowser-tabs {
  height: 34px !important;
}

.tab-line {
  display: none !important;
}

.tabbrowser-tab::before, .tabbrowser-tab::after {
  display: none !important;
}

.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: none !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 4px !important;
}

.titlebar-spacer[type="pre-tabs"] {
  width: 25px !important;
}

.titlebar-placeholder {
  border: none !important;
}

:root {
  --tabs-border: transparent !important;
  --chrome-content-separator-color: none !important;
  --toolbarbutton-border-radius: 4px !important;
  --lwt-toolbar-field-border-color: rgba(249, 249, 250, 0.2) !important;
  --urlbar-separator-color: var(--lwt-toolbar-field-border-color) !important;
  --toolbar-field-focus-border-color: none !important;
}

.tab-background {
  max-height: 28px !important;
  margin: 3px 3px 3px 3px !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  background-image: none !important;
  background-color: rgba(249, 249, 250, 0.05) !important;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > 
.tabbrowser-tab > .tab-stack > 
.tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > 
.tabbrowser-tab > .tab-stack > 
.tab-background[selected="true"]:-moz-lwtheme,
.tabbrowser-tab:hover > .tab-stack > 
.tab-background:not([selected="true"]):not([multiselected]) {
  background-color: rgba(249, 249, 250, 0.15) !important;
}

#urlbar {
  background-color: rgba(249, 249, 250, 0.15) !important;
  border: none !important;
}

#TabsToolbar, #nav-bar, #PersonalToolbar {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}
